* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --clr-primary-900: hsl(341deg, 100%, 90%);
    --clr-primary-800: hsl(341deg, 100%, 82%);
    --clr-primary-700: hsl(341deg, 100%, 76%);
    --clr-primary-main: hsl(341deg, 100%,68%);
    --clr-primary-600: hsl(341deg, 100%, 60%);
    --clr-primary-500: hsl(341deg, 100%, 52%);
    --clr-primary-400: hsl(341deg, 100%, 44%);
    --clr-primary-300: hsl(341deg, 100%, 36%);
    --clr-primary-200: hsl(341deg, 100%, 28%);
    --clr-primary-100: hsl(341deg, 100%, 20%);

    --clr-seconday-900: hsl(11deg, 100%, 90%);
    --clr-seconday-800: hsl(11deg, 100%, 82%);
    --clr-seconday-700: hsl(11deg, 100%, 76%);
    --clr-seconday-main: hsl(11deg, 100%, 68%);
    --clr-seconday-600: hsl(11deg, 100%, 60%);
    --clr-seconday-500: hsl(11deg, 100%, 52%);
    --clr-seconday-400: hsl(11deg, 100%, 44%);
    --clr-seconday-300: hsl(11deg, 100%, 36%);
    --clr-seconday-200: hsl(11deg, 100%, 28%);
    --clr-seconday-100: hsl(11deg, 100%, 20%);

    --clr-active-hover: hsl(41, 100%, 68%);

    --clr-neutral-900: hsl(0deg, 0%, 100%);
    --clr-neutral-800: hsl(0deg, 0%, 80%);
    --clr-neutral-700: hsl(0deg, 0%, 70%);
    --clr-neutral-600: hsl(195deg, 10%, 60%);
    --clr-neutral-500: hsl(195deg, 10%, 45%);
    --clr-neutral-400: hsl(195deg, 10%, 35%);
    --clr-neutral-300: hsl(195deg, 10%, 25%);
    --clr-neutral-200: hsl(195deg, 10%, 15%);
    --clr-neutral-100: hsl(195deg, 30%, 8%);

    --fs-200: clamp(.66rem, .83rem - .24vw, .78rem);
    --fs-300: clamp(1rem, .94rem - .02vw, 1.125rem);
    --fs-400: clamp(1.13rem, 1.05rem + .37vw, 1.31rem);
    --fs-500: clamp(1.35rem, 1.15rem + .99vw, 1.86rem);
    --fs-600: clamp(1.62rem, 1.23rem + 1.96vw, 2.62rem);
    --fs-700: clamp(1.94rem, 1.25rem + 3.45vw, 3.71rem);
    --fs-800: clamp(2.33rem, 1.2rem + 5.69vw, 5.25rem);
    --fs-900: clamp(2.8rem, 1rem + 9.01vw, 7.42rem);

    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;

    --ff-DM-Sans: 'DM Sans', sans-serif;
    --ff-Poppins: 'Poppins', sans-serif;
}

body {
    font-family: var(--ff-Poppins);
    background-color: var(--clr-neutral-900);
    overflow-x: hidden;
}

.main, .main--hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    line-height: 3rem;
    letter-spacing: -1px;
    margin: 5rem;
}

.main--title {
    font-weight: var(--fw-700);
    font-size: var(--fs-700);
    color: var(--clr-primary-main);
}

.main--sub-title {
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
}

.main--hero {
    border-radius: 10px;
    border: 5px solid var(--clr-primary-800);
    background-color: var(--clr-primary-900);
    padding: 10px;
    margin-top: 10px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: var(--fs-400);
    font-weight: var(--fw-400);

    line-height: 2rem;
}

.screen {
    border-radius: 10px;
    background-color: var(--clr-neutral-900);
    width: 700px;
    height: 300px;
    padding: 1em;
    position: relative;
}

.hero--button {
    margin: 10px auto;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-seconday-main);
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-600);
    font-size: var(--clr-neutral-400);
    color: var(--clr-neutral-900);
    text-shadow: 0 2px 2px black;
}

.chuckRight {
    width: 25%;
    position: absolute;
    top: 5%;
    right: 5%;
    transform: rotate(45deg);
    z-index: -1;
}

.chuckLeft {
    width: 25%;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: rotate(-45deg);
    z-index: -1;
}

